body {
  font-family: 'Roboto', sans-serif;
}

div {
  box-sizing: content-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: #ccc;
  width: 100%;
  margin: auto;
}

.App > div {
  width: 100%;
}

.page {
  margin: auto;
  width: 50%;
}

.form-container {
  width: 100%;
  flex-basis: content;
  display: flex;
  flex-direction: row;
}

.form-nir {
  margin-left: 1rem;
  margin-right: 1rem;
}

.form-nir .text-center {
  text-align: center;
}

select {
  padding: 1rem;
  border-radius: 5px;
  border-width: 0;
}

button {
  padding: 1rem;
  background-color: yellow;
  width: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: none;
  border-width: 0;
  /* margin-bottom: 1rem; */
}

.form-error {
  color: rgb(230, 70, 70);
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
input {
  display: block;
  width: 100%;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.title:before {
  content: '•';
}

.title:after {
  content: '•';
}

.title:before,
.title:after {
  margin: 0 1rem;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #444;
  /* margin-left: 1rem; */
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  min-height: 100px;
}

@media screen and (max-width: 600px) {
  .form-container {
    flex-direction: column;
  }

  .result {
    margin-top: 1rem;
    border-radius: 0;
  }
}
